# Node
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
dist/
.angular/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
Thumbs.db
.DS_Store

# IDE / Editor
.vscode/
.idea/
*.iml

# Build artifacts
coverage/
tmp/

